@import url("https://use.fontawesome.com/releases/v5.11.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --bg-color: var(--platinum);
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;

  --primary: red;
  --primary-alt: #22c55e;
  /* --main-color: #15023a; */
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --main: #ededed;
  --sidebar-width: 300px;
  --columns-4: repeat(4, minmax(0, 1fr));
  --columns-5: repeat(5, minmax(0, 1fr));

  --silver: #c0c0c0;
  --platinum: #e5e4e2;
  --smoke: #848884;
  --gunmetal-grey: #818589;
  --steel-grey: #71797e;
  --charcoal: #36454f;

  --red1: #fe1e00;
  --red2: rgb(254, 30, 0, 0.79);
  --red3: #a6281c;
  --red4: #b00000;

  --green1: #1ca676;
  --clr-green: #00fe93;
  --motherboard-green: #115d33;

  --dark-blue: #000033;
  --blue1: #0c2233;
  --blue2: #065471;
  --blue3: #0a91ab;
  --blue4: #1296e0;
  --blue5: #abd9ff;
  --blue6: #00ffee;
  --blue7: #00cfc1;

  --yellow1: #ffc045;

  --purple1: #570099;

  --clr-primary: #29221d;
  --clr-primar-light: #473b33;
  --clr-secondary: #1e1611;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;

  --width: 768px;

  --grey-gradient: linear-gradient(
    50deg,
    var(--charcoal),
    var(--charcoal),
    var(--gunmetal-grey),
    var(--platinum),
    var(--gunmetal-grey),
    var(--charcoal),
    var(--charcoal),
    var(--charcoal)
  );

  --grey2: linear-gradient(
    45deg,
    var(--charcoal),
    var(--silver),
    var(--platinum),
    var(--gunmetal-grey)
  );

  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  --gradient2: linear-gradient(
    45deg,
    var(--red4),
    var(--purple1),
    var(--blue2)
  );
  --gradient3: linear-gradient(
    180deg,
    var(--blue2),
    var(--purple1),
    var(--red4)
  );
  --gradient4: linear-gradient(
    to bottom right,
    var(--blue2),
    var(--purple1),
    var(--red4)
  );
}
@mixin mobile {
  @media (max-width: #{--width}) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
  // width: .5rem;
  // height: 2em;
}
::-webkit-scrollbar-track {
  // background: hsl(200, 100%, 50% / 1);
  // border-radius: 100vw;
  // margin-block: .5rem;
  // margin-inline: 1em;
}
::-webkit-scrollbar-thumb {
  // background: linear-gradient(red, blue);
  // background: hsl(120, 100%, 20% / 1);
  // border: .25em solid hsl(120, 75%, 50% / 1);
  // border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  // background: hsl(120, 100%, 5% / 1);
}

// //firefox
// @supports (scrollbar-color: red blue) {
//   * {
//     scrollbar-color: hsl(120, 100%, 20% / 1) hsl(120, 75%, 50% / 1);
//     scrollbar-width: auto;
//   }
// } */

body {
  /* background: var(--main); */
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-bai);
}
#app {
  /* //  scrollbar-color: red;
  //  scrollbar-width: thin; */
}
.app {
  display: flex;
  position: relative;
  /* // flex-direction: column;
  // scrollbar-color: red;
  // scrollbar-width: thin; */
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 52.5rem) {
  section {
    padding: 10rem 3% 2rem !important;
  }
  h2 {
    font-size: 7rem !important;
  }
}

button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
h1 {
  font-size: 7rem;
  /* display: flex;
  justify-content: center; */
  /* color: var(--main-color); */
  /* margin: 2rem 0; */
}
h2 {
  font-size: 5rem;
  /* margin: 2rem; */
  /* text-align: center; */
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1.5rem;
  color: black;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  /* color: var(--clr-white); */
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

.text-sm {
  font-size: 14px;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* commons */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}
.grid-common {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  padding: 24px;
}
.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}

/* .bx-x:before {
  content: "";
} */
